:root {
    --default-color: darkblue;
    --border: lpx solid black;
    --default-border: 1px solid rgb(0 0 0 / 10%);
    --default-padding: 1rem;
    --default-margin: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 30rem;
    padding: var(--default-padding);
}

nav {
    background-color: var(--default-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--default-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 630px;
    left: 135px;
    color: white;
    font-size: medium;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

li {
    padding-left: var(--default-padding);
    margin-left: var(--default-margin);
}

/* Class Selectors */

.box {
    margin: var(--default-margin);
    border: var(--default-border);
    padding: var(--default-padding);
    background-color: lightgrey;
    color: black;
}